POSTGRES_DB=rasa
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin
POSTGRES_PORT=5432

RASA_PORT_HOST=5005
RASA_MODEL_DIR=/app/models
# RASA_MODEL_FILE=20260526-164651-natural-mushroom.tar.gz

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_NUMBER=whatsapp:+14155238886
